body {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("/static/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 100%;
}

#cover .container-fluid{
    background-color: rgb(243, 229, 245, 0.2);
    padding: 3% 15% 8%;
}

.title {
    font-family: 'Caveat', cursive;
    text-align: center;
    color: #000;
}

.title h1 {
    font-size: 7rem;
}

.title h3 {
    font-size: 4rem;
}

#instructions {
    background-color: #f3e5f5;
    padding: 10% 15% 5%;
    text-align: center;
}

.items-bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 5%;
}

.items-bottom h3 {
    padding-top: 8%;
}

#classify {
    background-color: #fff;
}

.form-group {
    position: relative;
    margin-top: 5%;
}

.form-group * {
    margin: 2% 0;
}

.classificationSection {
    text-align: center;
    padding: 5%;
}

.heartColor {
    color: #d32f2f;
}


.spinner {
    width: 40px;
    height: 40px;
    background-color: #d32f2f;

    margin: 20px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .title h1 {
        font-size: 4rem;
    }

    .title h3 {
        font-size: 2rem;
    }

}
